      html{
        margin: auto;
      }
      
      body {
        font-family: 'Courier New';
        max-width: 960px;
        width: 100%; 
        background-color: rgb(239, 243, 243);
        margin: auto;
        padding:1%
    
      }
      html {
        background-color: rgb(9, 81, 99);
      }
      footer{
        text-align:center; 
        clear:both;
      }

      h2{
         color: rgb(9, 81, 99);
      }

      h4{
         color: rgb(9, 81, 99);
      }

      .btm115{
        text-align: center;
      }

      .Main{
        text-align: center;
      }

      .paris{
        width: 50%;
        height: 50%;
        float: left;
      }
    
      .Cambodia{
        width: 50%;
        height: 50%;
        float: right;
      }
    
      .Chicago{
        width: 50%;
        height: 50%;
        float: left;
      }
      
      .Bhutan{
        width: 50%;
        height: 50%;
        float: right;
      }
      