      html{
        margin: auto;
      }
      
      body {
        font-family: 'Courier New';
        max-width: 960px;
        width: 100%; 
        background-color: rgb(239, 243, 243);
        margin: auto;
        padding:1%
    
      }
      html {
        background-color: rgb(9, 81, 99);
      }

       nav{
          text-align:center; /* centers the nav */
        }
        
        nav ul {
            list-style:none; /* removes the bullets */
          }
        nav ul li
          {
            display:inline-block; /* makes horizontal, but able to declare margins */
            margin:0 2%; /* margin left-right, gets smaller as necessary */
          }
        nav a:hover{
          text-decoration: none;
        }	


      footer{
        text-align:center; 
        clear:both;
      }

      h2{
         color: rgb(9, 81, 99);
      }

      h4{
         color: rgb(9, 81, 99);
      }

      .btm115{
        text-align: center;
      }

      .Main{
        text-align: center;
      }

      .paris{
        width: 50%;
        height: 50%;
        float: left;
        padding: 1%
      }
    
      .Cambodia{
        width: 50%;
        height: 50%;
        float: right;
      }
    
      .Chicago{
        width: 50%;
        height: 50%;
        float: left;
        padding: 1%
      }
      
      .Bhutan{
        width: 50%;
        height: 50%;
        float: right;
      }
      
