 css-chanel
      html{
        margin: auto;
      }
     
             {box-sizing:border-box}

        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
          display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }

        /* Number text (1/4 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }


        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }



=======
  
 main
      body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        max-width: 960px;
        width: 100%; 
        background-color: rgb(239, 243, 243);
        margin: auto;
        padding:1%
       
      }

        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
      }

      html {
        background-color: rgb(9, 81, 99);
        margin: auto;
      }

       nav{
          text-align:center; /* centers the nav */
        }
        
        nav ul {
            list-style:none; /* removes the bullets */
          }
        nav ul li
          {
            display:inline-block; /* makes horizontal, but able to declare margins */
            margin:0 2%; /* margin left-right, gets smaller as necessary */
          }
        nav a:hover{
          text-decoration: none;
        }	


      footer{
        text-align:center; 
        clear:both;
      }

      h2{
         color: rgb(9, 81, 99);
      }

      h4{
         color: rgb(9, 81, 99);
      }

      .btm115{
        text-align: center;
      }

      .Main{
        text-align: center;
      }

      .paris{
        padding-right: 3%;
        width: 50%;
        height: 50%;
        float: left;

      }
    
      .Cambodia{
        width: 50%;
        height: 50%;
        float: right;
      }
    
      .Chicago{
        padding-right: 3%;
        width: 50%;
        height: 50%;
        float: left;
        

      }
      
      .Bhutan{
        width: 50%;
        height: 50%;
        float: right;
      }
      
